.footer {
padding:2px;
}

  .round {
    background: #f5f5f5 !important;
    border: 1.21212px solid #174b97 !important;
    box-shadow: 2.42424px 2.42424px 2.42424px rgba(0, 0, 0, 0.25) !important;
    border-radius: 4.84848px !important;
  }

//   .slides {
//       height: 70vh;
//   }

ion-slides{
  margin: 1px !important;
  height: 60vh;
    ion-slide {
      height: 60vh;
      width: 100% !important;
      margin-top: 0px;
      padding-bottom: 0px;

    //   ion-card{
    //     position:relative;
    //     top:0px;
    //     height: 90%;
    //     width: 100%;

    //     img {
    //         height:40%;
    //         width:100%;
    //     }

    //     ion-card-title{
    //     font-size: 14px;
    //     // text-align: justify;
    //     text-justify: inter-word;
    //     text-align: center;
    //     }
    //     ion-card-content{
    //         font-size: 10px;
    //     }
    // }
  }
}
.swiper-slide, .swiper-pagination {
    bottom: 5px !important;
}
