.footer {
padding:2px;
}

  .round {
    background: #f5f5f5 !important;
    border: 1.21212px solid #174b97 !important;
    box-shadow: 2.42424px 2.42424px 2.42424px rgba(0, 0, 0, 0.25) !important;
    border-radius: 4.84848px !important;
  }