.select-full-width {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
  }

//   #rounded {
//     width: 100%;
//     height: 100px;
//     -moz-border-radius: 50px;
//     -webkit-border-radius: 50px;
//     border-radius: 10px;
//     margin-bottom: 10px;  
// }

.items-service-client{
  color:black;
  font-size: large;
  font-weight: bolder;
}

.items-form{
  padding-top:20px;
  padding-bottom:30px;
ion-item{
  border-radius: 5px;
  border-color: rgb(201,201,201);
  border-width: 2px;
  border-style: solid;
  margin-bottom: 10px;
}
.objet{
  height:140px;
}
}
