<app-header-apprenant titleHeader="Mon Compte"></app-header-apprenant>

<ion-content>
    <h1>Nom Prénom</h1>
    <ion-list class="flex-space">
        <div class="container">
            <ion-item class="titre-items"> Mes attestations de formations:</ion-item>
            <ion-item class="text-items" lines="none" detail> Télécharger mes attestations</ion-item>
        </div>

        <div class="container">
            <ion-item class="titre-items"> Préférence du compte:</ion-item>
            <ion-item class="text-items" lines="none" detail button>
                <p>Notifications</p>
            </ion-item>
        </div>

        <div class="container">
            <ion-item class="titre-items"> Aide et support:</ion-item>
            <ion-item class="text-items" lines="none" detail button>Nous contacter</ion-item>
            <ion-item class="text-items" lines="none" detail button>Foire aux questions</ion-item>
        </div>

        <div  class="ion-text-center">
        <ion-button  color="danger" (click)="onLogout()">Déconnexion</ion-button>
        </div>
    </ion-list>

</ion-content>