.illustration {
  width: 90vw;
  height: 35vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 0px;
}

.form-all-item {
  margin: 20px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  input {
    position:relative;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #e7ebee;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
    background: none;
    color: #171c25;
    width: 100%;
    z-index: 1;
  }

.textinput-label-icon{
  position:relative;
  width: 100%;



    label{
      position:absolute;
      left: 0.8rem;
      top: 1rem;
      color: #939fab;
      font-size: 1rem;
      transition: 0.3s;
      z-index: 0;
    }
    fa-icon{
      position:absolute;
      right: 0.8rem;
      top: 1rem;
      color: #939fab;
      font-size: 1rem;
      transition: 0.3s;
      z-index: 2;
    }
   


  

  input:focus {
    // border-color: #fa578e;
    border-color: #174b97;
  }

  .label-focused {
    // top: -2.5rem;
    position:absolute;
    top: -0.7rem;
    left: 0.3rem;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    z-index: 2;
  }

  .invalid-error{
    color: #fa578e;
    position:absolute;
    top: -0.7rem;
    left: 0.3rem;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    z-index: 2;
  }

  .border-invalid-error{
    border-color: #fa578e !important;
  }

}
}


.mdp-input{
  // position:relative;
  // width: 100%;
  margin-top:15px;
  margin-bottom:15px;
  // z-index: 0;
}