
// #illustration-home{
//   height:30vh;
  // max-width: 100%;
  // max-height: 100%;
// }


ion-content {

  --overflow: hidden;


  
ion-col{
  text-align: center;
}

iion-row{
  margin: 5px;
  flex-shrink: 0;
}

.all-items{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-items:space-between !important;
  
}

.img-wrapper {
  background-image: url(../../../assets/illustrations/Illustrations-personnels-medical-ssbg.png);
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    height: calc(40vh - 56px) !important;
    // background-size: contain;
    background-size: 100% 100%;
  background-repeat: no-repeat;

}


  ion-text {
    /* button-text */

    // padding-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    /* or 83% */

    // display: flex;
    // align-items: center;
    // text-align: center;
    letter-spacing: 2.7px;

    color: #000000;
  }

  #connexion {
    // font-family: SF Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* or 122% */
    // align-items: center;
    // text-align: center;
    letter-spacing: 0.7px;
    text-decoration-line: underline;

    /* Orange */

    color: #f2994a;

    background: none;
    border: none;
  }

  ion-button {
    background: #f5f5f5 !important;
    border: 1.21212px solid #174b97 !important;
    box-sizing: border-box !important;
    box-shadow: 2.42424px 2.42424px 2.42424px rgba(0, 0, 0, 0.25) !important;
    border-radius: 4.84848px !important;
  }
}
