<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
    <ion-img src="../../../assets/logo/logo-ERON-biggest.png" class="logoEron" slot="end"></ion-img>
  </ion-toolbar>
</ion-header> -->
<app-header titleHeader="Accueil" ></app-header>

<ion-content>
  
  <div class="img-wrapper"></div>

  <!-- <div class="all-items"> -->
  <ion-grid>

  <ion-row>
    <ion-col size="12">
        <h4>Bienvenue sur l'application d'ERON Santé</h4>
        <h4>Découvrez dès maintenant nos :</h4>
    </ion-col>
  </ion-row>


  <!-- <div class='btn'> -->
    <ion-row>
      <ion-col size="12">
        <ion-button routerLink='/formations' fill="clear" display='block'>
          Formations
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-button routerLink='/actu-eron' fill="clear" display='block'>
          Actualités
        </ion-button>
      </ion-col>
    </ion-row>

  <!-- </div> -->


  <!-- <div class="footer"> -->
    <ion-row>
      <ion-col size="12">
          <p>Déja apprenant chez nous ?</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <button id="connexion" routerLink='/login'>Connectez vous ici</button>
      </ion-col>
    </ion-row>
  <!-- </div> -->

  <!-- </div> -->
  </ion-grid>

</ion-content>