<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
    <ion-img src="../../../assets/logo/logo-ERON-biggest.png" class="logoEron" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="cover"></div>
  <ion-grid class="ion-align-items-center">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
        <h4>Bienvenue sur l'application d'ERON Santé</h4>
        <h4>Découvrez dès maintenant nos :</h4>
    </ion-col>
  </ion-row>


    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button routerLink='/menu/formations-medecins' fill="clear">
          Formations
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button routerLink='/menu/actu-eron' fill="clear">
          Actualités
        </ion-button>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col size="12" class="ion-text-center">
          <p>Déja apprenant chez nous ?</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <button id="connexion" routerLink='/menu/login'>Connectez vous ici</button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>