/Parcours_Utilisateurs/
/Persona/
/User_Stories/
/Wireframe/
/Maquette_HighFidelity/
/Cahier_des_Charges/
**/Rapports_Formation_CDA
**/Images_avancement_travail
**/Documents_Rapports/Présentations
**/Wireframe-UserStories-UserFlow
**/videos
**/screenshots
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
