<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tab-suivi</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header-apprenant titleHeader="Suivi - Bilan"></app-header-apprenant>


<ion-content>

<div  class="infos-card">

<!-- <div class="infos"> -->
<div class="flex-container">
<div class="titre-chiffre"> <h3>Formation en cours</h3> <p>3</p> </div>
<div class="titre-chiffre"> <h3>Temps de formation</h3> <p>12H</p> </div>
</div>
<div class="titre-chiffre"> <h3>Formation Validée</h3> <p>1</p> </div>
<!-- </div> -->


<!-- <ion-card class="flex-container-card">
  <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/2/0/e/20e9b28cb4_50175940_cellules-cancereuses.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Titre formation</ion-card-subtitle>
    <ion-list class="list-items">
    <ion-item lines="none" > <ion-icon src="../../../assets/icon/check.svg"> </ion-icon> Module 4: Gerez le stress et ........ </ion-item>
    <ion-item lines="none" > <ion-icon src="../../../assets/icon/check.svg"> </ion-icon> Evaluation Finale </ion-item>
    <ion-item lines="none" > 
      <ion-icon src="../../../assets/icon/check.svg"> </ion-icon>
      Temps passé 
    </ion-item>
  </ion-list>
    <ion-text>Poursuivre la formation</ion-text>
  </ion-card-header>

</ion-card> -->


</div>

</ion-content>
<ion-card class="flex-container-card">
  <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/2/0/e/20e9b28cb4_50175940_cellules-cancereuses.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Titre formation</ion-card-subtitle>
    <ion-list class="list-items">
    <ion-item lines="none" > <ion-icon src="../../../assets/icon/check.svg"> </ion-icon> Module 4: Gerez le stress et ........ </ion-item>
    <ion-item lines="none" > <ion-icon src="../../../assets/icon/check.svg"> </ion-icon> Evaluation Finale </ion-item>
    <ion-item lines="none" > 
      <ion-icon src="../../../assets/icon/check.svg"> </ion-icon>
      Temps passé 
    </ion-item>
  </ion-list>
    <ion-text>Poursuivre la formation</ion-text>
  </ion-card-header>

</ion-card>
