<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Formations</ion-title>
    <ion-img src="../../../assets/logo/logo-ERON-biggest.png" class="logoEron" slot="end"></ion-img>
  </ion-toolbar>
</ion-header> -->

<app-header titleHeader="Formations"></app-header>

<!-- <ion-content class="ion-no-padding"> -->
<div style='background-color: white;'>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment [(ngModel)]="segment" mode="md" scrollable class="no-scroll" (ionChange)="segmentChanged($event)">

          <ion-segment-button *ngFor="let category of categories" [id]="category.id" [value]="category.value">
            <fa-icon *ngIf="category.icon" [icon]="category.icon"></fa-icon>
            <ion-label>{{category.title}}</ion-label>
          </ion-segment-button>
        </ion-segment>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<!-- </ion-content>  -->
<ion-content>
  <ion-slides #slides pager="false" (ionSlideDidChange)="slideChanged()">

    <!-- METHODE SANS COMPOSANTS PARTAGE -->
    <!-- <ion-slide>
      <ion-list>
        <ion-card *ngFor="let formation of formations"
        [routerLink]="['/formations', formation.id]">
          <img [src]="formation.imageUrl" />
          <ion-card-header>
            <div class="card-header">
              <ion-card-subtitle>Durée: {{formation.duree}}</ion-card-subtitle>
              <div class="logos-organisme-layout">
                <div class="logo-organisme"><span class="logo-text">FIFPL</span></div>
                <div class="logo-organisme"><span class="logo-text">DPC</span></div>
              </div>
            </div>
            <ion-card-title>{{formation.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{formation.description}}
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-slide> -->


    <!-- METHODE AVEC COMPOSANT PARTAGE "app-card-item" -->
    <ion-slide>
      <ion-list>
        <ng-container *ngFor="let formation of formations">
          <app-card-item [itemFormation]="formation" [isFormation]="true" cssCardType="col-1-formation"
            [routerLink]="['/formations', formation.id]" [queryParams]="{ formation: segment}"></app-card-item>
        </ng-container>
      </ion-list>
    </ion-slide>


    <ion-slide>
      <ion-list>
        <ng-container *ngFor="let formation of formations">
          <app-card-item [itemFormation]="formation" [isFormation]="true" cssCardType="col-1-formation"
            [routerLink]="['/formations', formation.id]"  [queryParams]="{ formation: segment}"  ></app-card-item>
        </ng-container>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ng-container *ngFor="let formation of formations">
          <app-card-item [itemFormation]="formation" [isFormation]="true" cssCardType="col-1-formation"
            [routerLink]="['/formations', formation.id]"  [queryParams]="{ formation: segment}"></app-card-item>
        </ng-container>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ng-container *ngFor="let formation of formations">
          <app-card-item [itemFormation]="formation" [isFormation]="true" cssCardType="col-1-formation"
            [routerLink]="['/formations', formation.id]"  [queryParams]="{ formation: segment}"></app-card-item>
        </ng-container>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ng-container *ngFor="let formation of formations">
          <app-card-item [itemFormation]="formation" [isFormation]="true" cssCardType="col-1-formation"
            [routerLink]="['/formations', formation.id]"  [queryParams]="{ formation: segment}"></app-card-item>
        </ng-container>
      </ion-list>
    </ion-slide>

  </ion-slides>
</ion-content>