
// ion-toolbar[appAllowOverflow]
// {
//   contain: none;
// }

ion-toolbar{
    --background: white !important;
    // --color:#000 !important;
    --padding-bottom:10px !important;
    margin: 10px 0;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    // contain: none !important;

    // .toolbar-container {
    //     overflow: visible !important;
    //     contain: none !important;
    //     padding-bottom:20px !important;
    // }

    ion-title{
    font-size: 1.7rem !important;
    padding:4px;
    text-align: center;
    color:  var(--ion-color-primary) !important;
    // border-bottom: 1px solid var(--ion-color-primary)
    }
  }

  span.underline-title{
    padding-left:15px;
  }

