.active {
--ion-text-color: var(--ion-color-primary) !important;
ion-icon{
    --ion-text-color-rgb: var(--ion-color-primary)
}
}

.active-parent{
    font-weight: bold;
}


.sub-item{
    padding-left:20px;
    font-size: small;
}

ion-item[button] {
    pointer-events: auto !important;
}

.socialMedia{
    font-size: 2em;
    padding: 5px;
    // --ion-text-color: var(--ion-color-primary) !important;
    color:var(--ion-color-primary);
}

.rowIconSocialMedia{
    display: flex;
justify-content: center;
}
