.active {
--ion-text-color: var(--ion-color-primary) !important;
ion-icon{
    --ion-text-color-rgb: var(--ion-color-primary)
}
}

.active-parent{
    font-weight: 500;
}
.sub-item{
    padding-left:20px;
    font-size: small;
}

ion-item[button] {
    pointer-events: auto !important;
}