
// #titre-trash{
//     margin:0;
//     color: var(--ion-color-danger);
//     font-size:0.7rem;
// }

#icon-trash{
  font-size: 2rem;
  color: white;
}



div.flex-container{
display:flex;
align-items: center; 
justify-content: center;
gap:20vw;
}

div.ctn-icontrash-text{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;  
}

#btn-buy{
    width:40vw;
}


ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-dark);
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }