<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Votre panier</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<app-header-apprenant [isModalShop]="true" titleHeader="Panier" (onClickToModal)="onCancel()"></app-header-apprenant>


<ion-content class="ion-text-center testoverflow" padding>
  
  <ng-container *ngIf="cartItems.length === 0">
  <div class="center">
    <img src="../../../../assets/icon/icon-add-to-cart.svg">
  <h4>Votre panier est vide</h4>
  <h6>Ajoutez des articles à votre panier</h6>
  <ion-button id="btn-buy" color="primary" (click)="onCancel()">Retourner à la boutique</ion-button>
</div>
</ng-container>

 <!-- <div class="flex-container"> -->

  <ng-container *ngIf="cartItems.length !== 0">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size=3 >Produit (ref)</ion-col>
      <ion-col size=3>Nom</ion-col>
      <!-- <ion-col>Description</ion-col> -->
      <ion-col size=2>Prix</ion-col>
      <ion-col size=1>Qtité</ion-col>
      <ion-col size=2>Total</ion-col>
      <ion-col size=1></ion-col>
    </ion-row>
    <ion-row id="article-{{i}}" *ngFor="let item of cartItems; index as i">
      <!-- <ion-col  size=1>{{ item.id }}</ion-col> -->
      <ion-col size=3>
        <div><ion-avatar class="ion-text-center">
        <img [src]="item.imageUrl">
        </ion-avatar>
      <span class="txt-ref">{{ item.id }}</span></div></ion-col>
      <ion-col class="txt-el titre" size=3>{{ item.title }}</ion-col>
      <!-- <ion-col>{{ student.country }}</ion-col> -->
      <ion-col class="txt-el prix" size=2>{{ item.price | currency:'EUR' }}</ion-col>
      <ion-col class="txt-el qtity" size=1>{{ item.quantity }}</ion-col>
      <ion-col class="txt-el total-item" size=2>{{  item.quantity * item.price | currency:'EUR'}}</ion-col>
      <ion-col size=1><ion-icon class="icon-trash-item" name="trash" color="danger" (click)="removeItem(item)" ></ion-icon></ion-col>
    </ion-row>
  </ion-grid>

  <div class="btn-price">
  <ion-item  lines="none">
    <button id="btn-clear-all" color="danger" (click)="showOptions()"> <span style="padding-top:2px;padding-bottom:2px">Vider le panier</span></button>
    <button  id="btn-continue-shop" color="primary" (click)="onCancel()" fill="outline"><span style="padding-top:2px;padding-bottom:2px">Poursuivre les achats</span></button>
  </ion-item>
  <div class="btn-total">
    <button #myDiv id="btn-buy" color="primary" (click)="onBuy()">Acheter</button>
    <p id="totalCart"><strong>Total:<br />{{cartTtotal | currency:'EUR'}}</strong></p></div>
</div>

</ng-container>


<ng-container *ngIf="!isBtnBuyVisible">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" class="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="danger" (click)="showOptions()" data-desc="Vider le panier">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ng-container>

</ion-content>
