
// #titre-trash{
//     margin:0;
//     color: var(--ion-color-danger);
//     font-size:0.7rem;
// }

// ion-avatar{
//   max-width: 3rem!important;  //any size
//   max-height: 3rem !important; //any size 
// }

.testoverflow{
  overflow: scroll;
}

#icon-trash{
  font-size: 2rem;
  color: white;
}

.center{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
text-align: center;
}

.center img{
height:20vh;
width:20vw;
}


div.flex-container{
display:flex;
align-items: center; 
justify-content: center;
gap:20vw;
}

div.ctn-icontrash-text{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;  
}

#btn-buy{
    // width:40vw;
    display: inline-block
}


ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-dark);
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

  ion-grid {
    --ion-grid-column-padding:5px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      // background-color:  lightgray;
      font-weight: bold;
      // border: 1px solid black;
      // border-top: 0;
      // border-right: 0;
      // border-left: 0;
      font-size:0.8rem;
      word-wrap: break-word;
    }

    ion-row:not(:first-child){
      font-size:0.8rem;
      justify-content:center;
      align-items:center;
      height:33%;
    }

  }

  .btn-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
  }
  .btn-total{
    display: flex;
    align-items: center;
  }

  #btn-clear-all{
  border: 2px solid var(--ion-color-danger);
  background-color: var(--ion-color-danger);
  color: white;
  padding: 4px 4px;
  font-size: 0.8rem;
  border-radius: 5px;
  }

  #btn-continue-shop{
    display: inline-block;
    border: 2px solid var(--ion-color-primary);
    background-color: white;
    color:  var(--ion-color-primary);
    padding: 4px 4px;
    font-size: 0.8rem;
    border-radius: 5px;
    margin:10px;
    }

    #btn-buy{
      display: inline-block;
      height:2rem;
      border: 2px solid var(--ion-color-primary);
      background-color:var(--ion-color-primary);
      color:   white;
      padding: 4px 4px;
      font-size: 0.8rem;
      border-radius: 5px;
      margin-right:5px;
      }

.icon-trash-item{
font-size:1.7rem;
}

.txt-ref{
  font-size:0.5rem;
}

.avatar-text{
  display: flex;
  flex-direction: column;
}