<!-- <ion-card class="ion-text-left css-card-item"> -->
  <ng-container *ngIf="!isFormation">
  <ion-card [ngClass]="['ion-text-left', cssCardType]">
  <img [src]="item.imageUrl" />
  <ion-card-header>
    <div class="card-header">
      <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
      <!-- <ion-card-subtitle>{{item.date | date}}</ion-card-subtitle> -->
    </div>
    <ion-card-title>{{item.title}} ...</ion-card-title>
    <!-- <ion-card-title>{{item.title.substring(0, 50)}} ...</ion-card-title> -->
  </ion-card-header>
  <ion-card-content>
    <!-- <span class="element">{{item.description}}</span> -->
    {{item.description}}
  </ion-card-content>
</ion-card>
</ng-container>

<ng-container *ngIf="isFormation">
  <ion-card [ngClass]="['ion-text-center', cssCardType]">
  <img [src]="itemFormation.imageUrl" />
  <ion-card-header>
    <div class="card-header">
      <ion-card-subtitle>Durée: {{itemFormation.duree}}</ion-card-subtitle>
      <div class="logos-organisme-layout">
        <ng-container *ngIf = "(itemFormation.logo | typeof) !== 'string'">
        <div *ngFor="let logo of itemFormation.logo" class="logo-organisme"><span class="logo-text">{{logo}}</span></div>
      </ng-container>
      <ng-container *ngIf = "(itemFormation.logo | typeof) === 'string'">
        <div  class="logo-organisme"><span class="logo-text">{{itemFormation.logo}}</span></div>
      </ng-container>
      </div>
      <!-- <ion-card-subtitle>{{item.date | date}}</ion-card-subtitle> -->
    </div>
    <ion-card-title>{{itemFormation.title}}</ion-card-title>
    <!-- <ion-card-title>{{item.title.substring(0, 50)}} ...</ion-card-title> -->
  </ion-card-header>
  <ion-card-content>
    <!-- <span class="element">{{item.description}}</span> -->
    {{itemFormation.description}}
  </ion-card-content>
</ion-card>
</ng-container>