.col-1{
    // position:relative;
    // top:0;
    margin-top: 10px;
    height: 55vh;
    width: 90%;

    max-height: 100%;
    display: flex;
    flex-direction: column;
    
    img {
        height:50%;
        width:100%;
    }

    ion-card-header{
        padding-top:5px;
    }

    ion-card-title{
    font-size: 16px;
    // text-align: justify;
    text-justify: inter-word;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    ion-card-content{
        font-size: 14px;
        // text-justify: distribute;
        text-justify: inter-word;
        overflow-y:scroll !important;
        // .element {
        //     display: -webkit-box;
        //     -webkit-line-clamp: 5;
        //     -webkit-box-orient: vertical;
        //     overflow: hidden;
        //     overflow-y:scroll;
        //   }
          
    }
}

.col-2{
    position:relative;
    top:0;
    height: 45vh;
    width: 90%;

    margin-left:10px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    
    img {
        height:40%;
        width:100%;
    }
    ion-card-subtitle{
        font-size: 10px;
    }
    ion-card-title{
    font-size: 12px;
    // text-align: justify;
    text-justify: inter-word;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    ion-card-content{
        font-size: 10px;
        overflow-y:scroll !important;
        // .element {
        //     display: -webkit-box;
        //     -webkit-line-clamp: 5;
        //     -webkit-box-orient: vertical;
        //     overflow: hidden;
        //     overflow-y:scroll;
        //   }
          
    }
}