<app-header-apprenant titleHeader="Contacts" [detailPage]=true pageBack="tabs/tab-profil"></app-header-apprenant>

<ion-content>
    <div class="all-items">
      <div class="box">
        <div class="sub-item-contacts">
          <fa-icon class="socialMedia" [icon]="faPhone"></fa-icon>
          <!-- <p>01 86 26 97 12</p> -->
          <a href="tel:+330186269712">01 86 26 97 12</a>
        </div>
        <div class="sub-item-contacts">
          <fa-icon class="socialMedia" [icon]="faEnvelope"></fa-icon>
          <!-- <p>serviceclient@eronservice.fr</p> -->
          <a href="mailto:serviceclient@eronservice.fr">serviceclient@eronservice.fr</a>
        </div>
    
        <div class="sub-item-contacts"> 
          <fa-icon class="socialMedia" [icon]="faMap"></fa-icon>
          <div class="resp-container">
          <iframe class="resp-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10497.618665172462!2d2.3375319417898384!3d48.86956178299155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1625277cd7%3A0x6114eeefa9b97a27!2s22%20Rue%20du%20Sentier%2C%2075002%20Paris!5e0!3m2!1sfr!2sfr!4v1629881654593!5m2!1sfr!2sfr" allowfullscreen="" loading="lazy">
          <p>22 Rue du sentier,Paris 75002</p>
        </iframe>
      </div>
      <p>22 Rue du sentier,Paris 75002</p>
        </div>
    
        <!-- <div> <h1></h1></div>
        <div> <h1></h1></div>
        <div> <h1></h1></div>
        <div> <h1></h1></div> -->
      </div>
    
        <div class="sub-item-contacts">
          <p>Formulaire de contact</p>
          <button class="btn" routerLink='/tabs/tab-profil/contacts/contacts-forms'><fa-icon class="socialMedia" [icon]="faChevronDown" ></fa-icon></button>
        </div>
    
      </div>
    
    
    
    
    </ion-content>