ion-content {
  //  --overflow: auto !important;
   overflow-y: auto;
  }
  
  .all-items{
    --overflow: auto !important;
    height: 100% !important;
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // height: 500px;
      padding-top:2vh;
      // padding-bottom:5vh;
    }
  
    .sub-item-contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom:4vh;
      // padding:20px;
      // flex: 1 !important;
    }
  
  
    .socialMedia{
      font-size: 2em;
      color:var(--ion-color-primary);
  }
  
  .btn {
    background: none;
    border: none; /* Remove borders */
  
    // 
    fa-icon  {
      border-radius: 120%;
      box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    }
  }
  